# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -="cd -"

# aliases
alias a="alias"
alias alst="cu ~/dotfiles/.aliases"
alias alss="source ~/dotfiles/.aliases"

# common
alias c="clear"

# ruby and rails
alias rs="rails s"
alias rc="rails c"
alias b="bundle"
alias bu="bundle update"
 
# git
alias g="git"

# yarn
alias ya="yarn"

# zsh
alias zshC="cu ~/.zshrc"
alias zshS="source ~/.zshrc"

# chmod
alias permcodes="stat -c \"%a %n\" *"

# docker
alias dc="docker-compose"
alias d="docker"

# nvm/asdf
alias nvmasdf="nvm use \$(grep nodejs .tool-versions | awk '{print \$2}' | sed 's/^v//')"

# nvm use pkg
alias nvmusepkg='nvm use $(cat package.json | jq -r ".engines.node" | sed -E "s/>=([0-9]+\.[0-9]+)\.[0-9]+/\1/")'

# node scripts
alias nds="cat package.json | jq  -r \".scripts\""

# cursor
alias cu="cursor"

# vscode
alias co="code"

# srcz
alias srczS="source ~/.zshrc"
alias srczC="cu ~/srcz"
